.wrapper {
  display: none;
  &_show {
    display: block;
    height: 56px;
    display: flex;
    margin: 24px auto;
    width: fit-content;
  }
}

.cell {
  max-width: 140px;
  width: 30vw;
  &_center {
    border: 1px solid #dbdbdb;
    border-top: none;
    border-bottom: none;
  }
}

.value {
  font-size: 22px;
  text-align: center;
  font-weight: 300;
  @media (min-width: 375px) {
    font-size: 30px;
  }
}

.description {
  font-size: 12px;
  text-align: center;
}
