@font-face {
  font-family: "MuseoSans";
  font-weight: 500;
  src: url(../fonts/MuseoSansCyrl-500.ttf) format("truetype");
}

@font-face {
  font-family: "MuseoSans";
  font-weight: 300;
  src: url(../fonts/MuseoSansCyrl-300.ttf) format("truetype");
}
